.avapilt {
  margin:auto;
  width:900px;
  display:flex;
  justify-content: center;
}
hr {
  width: 750px;
  color:black;

}
.valik {
  display:flex;
  justify-content:space-evenly;
  margin-top: 50px;
}
.valik img{
  height:250px;
  width:400px;
  cursor:pointer;
}

.valik img:hover{
  scale: 1.1;
  transition: 1s;
  box-shadow:0 8px 100px 0px;
}
