.lang {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.lang:hover {
  opacity:0.5;
}

.lang:active {
  padding: 1px;
}

body{
  background-color:#c3e8bd;
}

.nupp{
  background-color:#5b7553;
}

.active{
  border: 1px solid green;
}

.inactive{
  border: 1px solid red;
  margin: 2px;
}

.map {
  height: 300px;
}

.footer {
  background: #212529;
  color: white;
  height: 60px;
  margin-top: 50px;
}